/* Style.module.css */

/* Gaya umum untuk link dalam form */
.link_login{
    color: #fbfbfd;
    background-color: #ff4500;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

.link_login:hover {
    color: #000000;
    background-color: #87CEFA;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}


.link{
    color: #11329e;
    text-decoration: none;
    transition: color 0.3s ease; /* Animasi perubahan warna selama 0.3 detik */
}

.link:hover {
    color: #000000; /* Warna yang diinginkan saat hover */
    background-color: #ffc0a3;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}


.link_regis{
    color: #11329e;
    font-weight: 500;
    margin-left: 1em;
    text-decoration: none;
    transition: color 0.3s ease; /* Animasi perubahan warna selama 0.3 detik */
}

/* Efek hover untuk link dalam form */
.link_regis:hover {
    color: #000000; /* Warna yang diinginkan saat hover */
    background-color: #ffc0a3;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}
